<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styleform.css">
    <title>Project table</title>
</head>

<body>


<div class="form">
    <div class="center">
        <h1>Enter Item details</h1>
        <form action="/create-checkout-session" method="post">
     <div class="inputbox">
     <input type="text" value="" name="buyer" placeholder="Buyer Name">
     </div>
    <div class="inputbox">
        <input type="text" value="" name="seller" placeholder="Seller Name">
    </div>
    <div class="inputbox">
        <input type="text" value="" name="item" placeholder="At What Priced">
    </div>
    <div class="inputbox">
        <button type="submit">Submit</button>
    </div>
    </form>
    </div>

    </div>
  </body>

</html>